body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#E9F2F0;

  }
  h1, button {
  font-size: 300%;
  }
  h1{
    margin-left: 3rem;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .wrapper img{
    width:60%;
    margin: 0 auto;
  }

  